.top_section{
    background-color: #3B3B3B;
    position: absolute;
    left: 0;
    top: 0;
}


.btn_slider span{
    display: block;
    width: 26px;
    height: 2px;
    background-color: #1DB6CE !important;
    z-index: 1;
    transform: translate(20px, 10px);
    margin-top: 4px
    
    
    
}

.btn_slider{
    position: absolute;
    margin-top: 1rem;
    z-index: 2;
    cursor: pointer;
}



