.info{
    width: 19%;
    height: 16.1%;
    background-color: #4C4C4C;
    font-family: "Roboto", sans-serif;
    position: absolute;
    border-radius: 5px;
    
    
}

h4{
    position: absolute;
    left: calc(var(--nav-width) + 5%);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    top: 10%;
    color: #ffffff;
    font-size: 17px;


}


img{
   
    width: 30px;
    height: 30px;
    top: 32%;
    right: 4%;
    position: absolute; 


}

h2{
    font-size: 35px;
    left: 8%;
    color: #1DB6CE;
    position: absolute;
    top: -7%;

}

h5{
    font-size: 15px;
    color: #ffffff;
    text-decoration: underline;
    position: absolute;
    top: 33%;
    left: 8%;
    

}

.total_space{
    left: calc(var(--nav-width) + 5%);
    top: 18.5%
}

.space_used{
    left: calc(var(--nav-width) + 27%);
    top: 18.5%
}


.remaining_space{
    left: calc(var(--nav-width) + 49%);
    top: 18.5%
}


.clients{
    left: calc(var(--nav-width) + 5%);
    top: 38%;
}

.expired_bonds{
    left: calc(var(--nav-width) + 27%);
    top: 38%;
}

.expired_bonds h2{
    color: #E34220
}

@media screen and (max-width: 910px){
    .info{
        width: 25%;
    }
    .space_used{
        left: calc(var(--nav-width) + 32.5%);
    }
    
    
    .remaining_space{
        left: calc(var(--nav-width) + 60%);
    }
    .expired_bonds{
        left: calc(var(--nav-width) + 32.5%);
    }
}

@media screen and (max-width: 700px){
    .info{
        width: 60%;
        height: 14%;
    }
    
    .total_space{
        top: 14%
    }
    .space_used{
        top: 30%
    }
    .remaining_space{
        top: 46%
    }
    .clients{
        top: 62%;
    }
    .expired_bonds{
        top: 78%;
    }
    .total_space, .clients, .remaining_space, .expired_bonds, .space_used{
    left: calc(var(--nav-width) + 5%);
    }

}