.navigation{
    position: absolute;
    z-index: 2;
    background-color: #777675;
    font-family: "Roboto", sans-serif;
    width: 17.5rem;
    height: 25.35rem;
    margin-left: -0.6rem;
    margin-top: 16.5rem;
    color: #ffffff
}

ul{
    margin-left: -4rem;
    margin-top: -1rem;
}



