:host{
    position: absolute;
    display: block;
    z-index: 2;
    background-color: #777675;
    font-family: "Roboto", sans-serif;
    width: var(--nav-width);
    height: calc(100% - var(--top_section-height));
    color: #ffffff;
    top: var(--top_section-height);
}

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}


@media screen and (max-width: 910px){
    :host{
       transition: 0.2s all;
       color: transparent;
    }
}


