.top_bar{
    width: 68rem;
    height: 4rem;
    background-color: #575554 ;
    margin-left: 16.9rem;    
    position: absolute;
    margin-top: 37.87rem;
    background-attachment: fixed;
    
   

    
}