:host{
    width: calc( 100% - var(--nav-width));
    height: 4rem;
    background-color: #575554 !important;
    bottom: 0%;
    position: absolute;
    right: 0;
    // background-attachment: fixed;
    z-index: 3;
    
   

    
}