:host{
    
        position: absolute;
        left: calc(var(--nav-width) + 10%);
        background-color: rgb(59, 59, 59);
        color: rgb(255, 255, 255);
        width: 46%;
        height: 63%;
        top: 13%;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(29, 182, 206);
        border-radius: 5px;

        
}

img{
    position: absolute;
    border-radius: 50%;
    left: 32%;
    top: 12%;
    width: 34%;
    height: 44%;
}

input{
    position: absolute;
    top: 58%;
    left: 28%;
    font-size: 17px;
    color: #fff;
    font-weight: 600;  
}

button{
    position: absolute;
    bottom: 12%;
    right: 7%;
    height: 7%;
    width: 22%;
    border: none;
    color: #fff;
    font-size: 16px;
    background: var(--main-blue);
    cursor: pointer;
}

@media screen and(max-width: 1180px){
   :host{
       width: 57%;
   }
}
@media screen and(max-width: 1000px){
    img{
        width: 44%;
        height: 38%;
    }
}
@media screen and(max-width: 910px){
    :host{
        width: 69%;
    }
    img{
        width: 41%;
        height: 37%;    
    }
}
@media screen and(max-width: 700px){
    img{
        width: 48%;
        height: 37%;
        left: 27%;
    }
}
@media screen and(max-width: 550px){
    :host{
        left: calc(var(--nav-width) + 3%);
    }
    img{
        width: 61%;
        height: 37%;
        left: 19%;
    }
}
@media screen and(max-width: 460px){
    img{
        width: 73%;
        height: 37%;
        left: 11%;
    }
    input{
        left: 14%;
    }
    button{
        width: 36%;
        left: 30%;
    }
}
@media screen and(max-width: 380px){
    :host{
        left: calc(var(--nav-width) + 1%);
    }
    img{
        width: 81%;
        height: 33%;
        left: 9%;
    }
    input{
        left: 14%;
        font-size: 10px;
    }
}
@media screen and(max-width: 350px){
    :host{
        width: 66%;
    }
    img{
        height: 30%;
        width: 87%;
        left: 6%;
    }
}
