*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root{
    --nav-width: 280px;
    --dark-bg-one: #3b3b3b;
    --top_section-height: 30%;
    --main-blue: #1DB6CE;
    --main-yellow: #D17B0C;
}
html, body{
    width: 100%;
    height: 100%;
}
 body{
    background-image: url("../../static/images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    background-color: #3B3B3B;
    overflow: hidden;
   
}
main-section{
    display: block;
}
.main-section{
    opacity: 0;
    pointer-events: none;
    display: block;
}
.main-section[active="true"]{
    opacity: 1;
    pointer-events: auto;
}

.main-section[fixed = "true"]{
    opacity: 1;
    pointer-events: auto;
}
.user-account{
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}


@media screen and (max-width: 910px){
    :root{
        --nav-width: 100px; 
        transition: 0.4s all;
    }
}