*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root{
    --nav-width: 280px;
    --dark-bg-one: #3b3b3b;
    --top_section-height: 200px;
}
html, body{
    width: 100%;
    height: 100%;
}
 body{
    background-image: url("../../static/images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    background-color: #3B3B3B;
    overflow: hidden;
   
}
.user-account{
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}


@media (max-width: 540px) {
    
}