li{
    padding-left: 8.4rem;
    background-color: #575554;
    margin-top: 2px;
    height: 25px;
    font-size: 15px;
    padding-top: 5px;
    cursor: pointer;
    
}
    
img{
    position: absolute;
    width: 22px;
    margin-left: -2.5rem

}