

.report{
    left: calc(var(--nav-width) + 15%);
    width: 32%;
    background-color: #3B3B3B;
    border: 2px solid #1DB6CE;
    top: 15%;
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    height: 21%;
    box-shadow: 0px 14px 14px -10px #000000;
    cursor: pointer;

}


.img_report{
    width: 20%;
    right: 10%;
    position: absolute;
    top: 28%;

}

.h2_report{
    font-size: 26px;
    text-transform: capitalize;
    position: absolute;
    top: 28%;
    left: 12%;
    

}


.space{
    left: calc(var(--nav-width) + 15%);
    width: 32%;
    background-color: #3B3B3B;
    border: 2px solid #D17B0C;
    top: 48%;
    position: absolute;
    font-size: 18px;
    color: #ffffff; 
    border-radius: 5px;
    height: 21%;
    box-shadow: 0px 14px 14px -10px #000000;
    cursor: pointer;

}

.h2_space{
    font-size: 26px;
    text-transform: capitalize;
    position: absolute;
    top: 28%;
    left: 12%;

}

.img_space{
    width: 20%;
    right: 10%;
    position: absolute;
    top: 28%;
    
}

@media screen and (max-width: 1180px) {
   .report{
    left: calc(var(--nav-width) + 20%);
   }
   .space{
    left: calc(var(--nav-width) + 20%);
   }
   }
   @media screen and(max-width: 1000px){
    .report, .space{
        left: calc(var(--nav-width) + 10%);
        width: 51%;
        height: 17%;
        top: 20%;
       }
    .space{
        top: 45%;
       }
   }

   @media screen and(max-width: 910px){
       .report, .space{
            left: calc(var(--nav-width) + 19%)
       }
   }
   @media screen and(max-width: 650px){
       .h2_report, .h2_space{
        font-size: 19px;
        top: 35%;
       }
       .img_report,.img_space{
        width: 65px;
        top: 32%
       }
   }

   @media screen and(max-width: 560px){
       .report,.space{
        left: calc(var(--nav-width) + 6%);
        width: 68%
       }
   }


   @media screen and(max-width: 400px){
       .h2_space,.h2_report{
        font-size: 13px;
        top: 38%;
       }
   }
   @media screen and(max-width: 450px){
       .report{
        width: 88%;
       }
       .space{
        width: 88%;
       }
   }

