
.location_bg{
    top: 13%;
    width: 56%;
    z-index: 2;
    color: #ffffff;
    height: 60%;
    position: absolute;
    background-color: #2E2C2C;
    left: calc(var(--nav-width) + 5%);
    border-radius: 4px;
    box-shadow: 0px 50px 50px -60px #000000;
}
.location{

    width: 70%;
    height: 45%;
    top: 30%;
    left: 16%; 
    background-color: #3B3B3B;
    color: #ffffff;
    position: absolute;
    border: 1.5px solid #D17B0C;
    border-radius: 4px;
    box-shadow: 0px 20px 20px -15px #000000;
    

}

img{
    right: 10%;
    position: absolute;
    width: 50px;
    top: 30%;
}

h2{
    font-size: 60px;
    top: 0;
    left: 10%;
    position: absolute;
}

h3{
    position: absolute;
    top: 14%;
    left: 20%;
    font-size: 18px;
    font-weight: 100;
}
@media screen and(max-width: 1240px){
    .location_bg{
        width: 54%;
    }
}
@media screen and(max-width: 1180px){
    .location_bg{
        width: 64%;
    }
}

@media screen and(max-width: 910px){
    .location_bg{
        width: 78%;
        top: 17%;
    }
    h2{
        top: 10%;
    }
}
@media screen and(max-width: 650px){
    .location_bg{
        width: 74%;
    }

}

@media screen and(max-width: 500px){
    .location_bg{
        width: 69%;
    }
}
@media screen and(max-width: 450px){
    .location_bg{
        width: 93%;
        left: calc(var(--nav-width) + 1%);
    }
    h2{
        font-size: 18%;
    }
}