.profil_bar{
    position: absolute;
    color: #ffffff;
    z-index: 1;
    display: block;
    right: 3%;
    top: 10%;
}
.account-name, .account-avatar{
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px
}


.account-avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 3px solid var(--main-blue);
    cursor: pointer;
    
    
    
}











.user_profile{
    width: 15rem;
    height: 24rem;
    background-color: #575554;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    display: none;
    vertical-align: middle;
    color: #ffffff;
    float: right;
    text-align: center;
    
    

}

.profil_img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #D17B0C;
    align-content: center;
    margin-left: -20px;
    margin-top: 20px;
}

.profil_bar{
    position: absolute;
    color: #ffffff;
    z-index: 1;
    display: block;
}
.account-name, .account-avatar{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px
}


.account-avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 3px solid var(--main-blue);
    cursor: pointer;
    
    
    
}


h3{
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    font-size: 20px
}

h5{
    margin-top: -10px;
    font-family: 'Roboto', sans-serif;
}

button{
    width: 100px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    background-color: #1DB6CE;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
    

}