.report{
    left: calc(var(--nav-width) + 5%);
    background-color: #3B3B3B;
    border: 2px solid;
    top: 15%;
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 14px 14px -10px #000000;
    width: 40%;
    height: 50%;
    border-color: #D17B0C

}


.img_report{
    width: 10%;
    height: 52px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 8%;

}

.h2_report{
    text-transform: capitalize;
    position: absolute;
    cursor: pointer;
    font-size: 60px;
    top: 40%;
    left: 6%

}

.img_back{
    width: 52%;
    height: 21px;
    cursor: pointer;
    transform: translate(-169%, 13%);
    position: absolute;
}

h3{
    font-size: 20px;
    left: 20%;
    position: absolute;
    top: 0%;
    font-weight: 500;
    
}

@media screen and(max-width: 1170px){
    .report{
        width: 55%;
    }
    .img_report{
        top: 53%;
    }
}

@media screen and(max-width: 910px){
    .report{
        width: 71%;
    }
}
@media screen and(max-width: 600px){
    .report{
        width: 63%;
    }
    .img_report {
    top: 44%;
    height: auto;
    right: 10%;
    }
    .img_back{
        left: 18%;
    }
    .h2_report{
        font-size: 28px;
    }
}

