.volume_goods{
    width: 64%;
    height: 17%;
    background-color: #4C4C4C;
    color: #ffffff;
    position: absolute;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    z-index: 2;
    top: 65%;
    left: calc(var(--nav-width) + 5%);
}
h6{
    position: absolute;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 2px;
    top: -63%
}



.today{
    position: absolute;
    z-index: 1;
    left: 10%;
    top: -25%
   
}

.this_week{
    position: absolute;
    right: 58%;
    top: -25%
}

.last_week{
    position: absolute;
   right: 35%;
   top: -25%
}

.this_month{
    position: absolute;
    right: 13%;
    top: -25%
}

 h5{
    font-size: 15px;
    font-weight: 600;
    transform: translateY(150%);
    
    

}

h4{
    font-size: 19px;
    color: #1DB6CE;
    transform: translateY(60%);
    font-weight: 600;
    
}



img{
    position: absolute;
    width: 20px;
    z-index: 4;
    top: 72%;
    right: -30%;
  
}