

.report{
    left: calc(var(--nav-width) + 15%);
    width: 32%;
    background-color: #3B3B3B;
    border: 2px solid #D17B0C;
    top: 30%;
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    border-radius: 5px;
    height: 21%;
    box-shadow: 0px 14px 14px -10px #000000;
    cursor: pointer;

}


.img_report{
    width: 20%;
    right: 10%;
    position: absolute;
    top: 28%;

}

.h2_report{
    font-size: 26px;
    text-transform: capitalize;
    position: absolute;
    top: 28%;
    left: 12%;
    

}

@media screen and(max-width: 1170px){
    .report{
        width: 49%;
        left: calc(var(--nav-width) + 11%)
    }
}
@media screen and(max-width: 910px){
    .report{
        width: 64%;
    }
}
@media screen and(max-width: 500px){
    .report{
        height: 16%;
        left: calc(var(--nav-width) + 3%);
        width: 62%;
    }
    .img_report{
        top: 37%;
    }
}