.info{
    width: 16%;
    height: 9%;
    background-color: #4C4C4C;
    position: absolute;
    border-radius: 5px;
    right: 1%;
    top:13%;
    z-index: 1;

}


img{
   
    width: 30px;
    height: 30px;
    right: 8%;
    position: absolute;
    top: 20%


}

h2{
    font-size: 30px;
    
    color: #1DB6CE;
    letter-spacing: 1px;
    position: absolute;
    top: -31%;
    left: 10%;
    

}

h5{
    font-size: 11px;
    letter-spacing: 1px;
    color: #ffffff;
    text-decoration: underline;
    position: absolute;
    font-weight: 200;
    bottom: -18%;
    left: 10%;
    

}



.space_used{
  top: 23%  
}


.remaining_space{
    top: 33%;
}


.clients{
   top: 43%
}

.expired_bonds{
    top: 53%;
}

.expired_bonds h2{
    color: #E34220
}