.top_bar{
    
    width: 68rem;
    height: 4rem;
    background-color: #575554 ;
    margin-top: -0.5rem;
    margin-left: 16.9rem;
    position: absolute;
    background-attachment: fixed;
    z-index: 1;
    


    
}