:host{
    width: calc( 100% - var(--nav-width));
    height: 4rem;
    background-color: #575554 ;
    position: absolute;
    top: 0;
    right: 0;
    background-attachment: fixed;
    z-index: 1;
    display: block;
}
